@import 'vars.less';

h2.subtitulo{
	.futura(14px, 200);
	color:@branco;
	text-align: center;
}

.lista-clippings{
	padding: 50px 0;
	text-align: center;
	font-size: 0;
	a{
		margin: 0 25px 15px 25px;
		position: relative;
		.inline;
		img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			opacity: 0;
			background: rgba(0,0,0,0.65);
			transition: all .3s ease-in-out;
			padding-top: 50px;
			text-align: center;
			h3{
				color:@branco;
				.ubuntu(15px, bold);
				margin-bottom: 3px;
			}
			p{
				color:@branco;
				line-height: 130%;
				margin-bottom: 2px;
				.ubuntu(12px);
			}
		}
		&:hover{
			.overlay{
				opacity: 1;
			}
		}
	}
}
