@import 'vars.less';

.layout-tres-colunas{
	font-size: 0;
	padding: 40px 0;
	@media (max-width: 1200px){
		box-sizing: border-box;
		padding: 40px 10px;
	}

	.coluna{
		.inline;
		width: 33.33%;
		box-sizing: border-box;
		&:nth-child(2){
			padding: 0 40px;
		}

		@media @mobile{
			width: 50%;
			margin-bottom: 15px;
			&:nth-child(3){
				width: 100%;
				padding: 0;
			}
		}

		@media (max-width: 600px) {
			width: 100%;
			&:nth-child(2){
				padding: 0;
			}
		}

		h2{
			color:@branco;
			.futura(18px);
			margin-bottom: 20px;
			letter-spacing: 4px;
		}
	}

	.form{
		p{
			text-align: center;
			margin: 0 0 30px 0;
			padding: 15px;
			.ubuntu(14px);
			color:@branco;
			border:1px @branco solid;
			.sucesso{}
			.erro{}
		}
		label{
			.ubuntu(12px);
			color:@branco;
			line-height: 130%;
			display: block;
		}
		input[type="text"],
		input[type="email"],
		textarea{
			display: block;
			width: 100%;
			box-sizing: border-box;
			border: 1px @branco solid;
			padding: 5px 10px;
			.ubuntu(14px);
			color:@branco;
			background: transparent;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		textarea{
			height: 175px;
			resize:none;
			overflow:auto;
		}
		.submit{
			height: 30px;
			input[type="submit"]{
				float: right;
				.ubuntu(14px);
				color: @branco;
				height: 30px;
				border: 1px @branco solid;
				box-sizing: border-box;
				padding: 0 20px;
				background: transparent;
				cursor: pointer;
				transition: all .3s ease-in;
				&:hover{
					background:@branco;
					color:@marrom;
				}
			}
		}
	}

	.info{
		.cke{
			.ubuntu(14px, 300);
			color:@branco;
			line-height: 150%;
			margin-bottom: 15px;
		}
		.email{
			a{
				.ubuntu(14px);
				color:@branco;
				transition: all .3s ease-in;
				.inline;
				padding: 1px 3px;
				margin: 35px 0 70px 0;
				&:active, &:visited{color:@branco;}
				&:hover{
					background:#fff;
					color:@marrom;
				}
			}
		}
		.social{
			font-size: 0;
			a{
				.inline;
				margin-right: 10px;
			}
		}
	}

	.maps{
		width: 100%;
		iframe{
			width: 100%;
			height: 300px;
		}
	}
}
