@import 'vars.less';

header{
	position: relative;
	z-index: 999;

	#link-marca{
		margin-top: 30px;
		display: inline-block;
		img{
			max-width: 100%;
		}
		@media @mobile{
			max-width: 60%;
			margin-left: 10px;
		}
	}

	#toggle-menu{
		display: none;
		@media @mobile{
			position: absolute;
			z-index: 99;
			top: 0;
			right: 10px;
			display: block;
			padding: 35px 15px 12px 15px;
			color: @branco;
			transition: all .3s ease-in;
			background: @bege;
			.ubuntu(16px, bold);
			&:active, &:visited{color: @branco;}
			&:hover, &.ativo{
				padding-top: 40px;
				background: @preto;
				color: @branco;
			}
		}
	}

	nav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;

		ul{
			position: absolute;
			top: 0;
		}

		.menu{
			font-size:0;
			@media @desktop {
				right: 20%;
			}
			@media (min-width: 901px) and (max-width:950px) {
				right: 10%;
			}

			& > li{
				.inline;
				position:relative;

				& > a{
					.montserrat(14px, 200);
					display: block;
					padding: 80px 20px 20px 20px;
					color: @preto;
					background: @bege;
					transition: all .3s ease-in;
					&:active, &:visited{color: @preto;}
				}

				&:hover, &.ativo{
					a{
						padding-top: 90px;
						background: @preto;
						color: @branco;
					}
				}

				@media @desktop{
					.submenu{
						position: absolute;
						top: 0;
						left: -5px;
						opacity: 0;
						z-index: -1;
						transition: opacity .3s ease-in .5s;
						& > li{
							display: block;
							a{
								.futura(14px);
								white-space: nowrap;
								display: block;
								color:@preto;
								line-height: 40px;
								background: @branco;
								padding: 0 35px 0 15px;
								position: relative;
								&:active, &:visited{color:@preto;}
								&:hover, &.ativo{
									&:before{
										opacity:1;
									}
								}
								&:before{
									content:"";
									display: block;
									position: absolute;
									transition: opacity .3s ease-in;
									height: 1px;
									width: 10px;
									background: @preto;
									.futura(14px);
									color:@preto;
									bottom:14px;
									left:0;
									opacity:0;
								}
							}
						}
					}

					&.comsubmenu:hover{
						.submenu{
							opacity: 1;
							top: 124px;
							z-index: 3;
						}
					}
				}
			}
		}

		.menu-social{
			right: 0;
			font-size:0;
			li{
				.inline;
				margin-left: 10px;
				a{
					display: block;
					padding: 35px 5px 12px 5px;
					background: @bege;
					transition: all .3s ease-in;
					min-width: 18px;
					img{
						max-width: 100%;
						display: block;
						margin: 0 auto;
					}
					&:active, &:visited{background: @bege;}
					&:hover, &.ativo{
						padding-top: 40px;
						background: @preto;
						color: @branco;
					}
				}
			}
		}

		@media @mobile{
			z-index: 0;
			overflow: hidden;
			height: 0;
			&.aberto{
				z-index: 9999;
				height: auto;
			}
			&.aberto .menu,
			&.aberto .menu-social{
				right: 0;
				opacity: 1;
			}
			.menu{
				width: 100%;
				max-width: 400px;
				float:right;
				position: relative;
				right: -100%;
				opacity: 0;
				transition: all .3s ease-in-out;
				& > li{
					display: block;
					& > a.ativo,
					& > a{
						padding: 35px 0 15px 20px !important;
					}
				}

				.submenu{
					position: relative;
					& > li{
						display: block;
						a{
							.futura(14px);
							display: block;
							color:@preto;
							line-height: 40px;
							background: @branco;
							padding: 0 0 0 35px;
							position: relative;
							&:active, &:visited{color:@preto;}
							&:hover, &.ativo{
								&:before{
									opacity:1;
								}
							}
							&:before{
								content:"";
								display: block;
								position: absolute;
								transition: opacity .3s ease-in;
								height: 1px;
								width: 30px;
								background: @preto;
								.futura(14px);
								color:@preto;
								bottom:14px;
								left:0;
								opacity:0;
							}
						}
					}
				}

				&.comsubmenu:hover{
					.submenu{

					}
				}
			}
			.menu-social{
				clear:right;
				position: relative;
				width: 100%;
				max-width: 400px;
				float:right;
				font-size: 0;
				right: -100%;
				opacity: 0;
				transition: all .3s ease-in-out;
				& > li{
					.inline;
					width: 50%;
					margin-left: 0;
					& > a{
						padding: 20px 0 20px 0 !important;
					}
				}
			}
		}
	}
}
