@import 'vars.less';

.home-banners{
	margin-top: -197px;
	height: 90vh;
	overflow: hidden;

	.banner{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		img{
			display: none;
		}
	}
}
