@import 'vars.less';

.colunas{
	padding: 50px 0;
	font-size: 0;
	.coluna{
		.inline;
		box-sizing: border-box;
		width: 50%;
		&.narrow{
			width: 45%;
		}
		&.wide{
			width: 55%;
			padding: 0 30px;
		}

		@media @mobile{
			width: 100% !important;
			padding: 0 10px !important;
			& + .coluna{
				margin-top: 30px;
			}
		}

		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}

		h2{
			.futura(14px, 400);
			color: @branco;
			letter-spacing: 2px;
		}

		.cke{
			.futura(14px, 300);
			padding: 40px 0;
			color: @branco;
			line-height: 150%;
			p{
				margin: 0 0 10px 0;
				strong{
					font-weight: bold;
				}
				em{
					font-style: italic;
				}
				a{
					text-decoration: underline;
					color: @branco;
					.inline;
					padding: 2px 4px;
					transition: all .3s ease-in;
					&:active, &:visited{color: @branco;}
					&:hover{
						color:@marrom;
						background:@branco;
					}
				}
			}
		}
	}

	&.com-cards{
		.coluna:nth-child(even){padding-left:45px;}
		.coluna:nth-child(odd){padding-right:45px;}
	}

	.card{
		.card-image{
			.inline;
			width: 38%;
		}
		.card-text{
			.inline;
			width: 62%;
			box-sizing: border-box;
			padding: 0 0 0 30px;
			h2{
				.futura(14px);
				color:@branco;
			}
			p{
				margin-top: 30px;
				.futura(14px, 200);
				letter-spacing: 1px;
				color:@branco;
				line-height: 200%;
			}
		}
	}
}
