@import 'vars.less';

.menu-categorias{
	padding: 10px 0;
	font-size: 0;
	@media (max-width: 1200px){
		padding-left: 10px;
	}
	a{
		.futura(16px, 200);
		.inline;
		margin-right: 20px;
		color:@branco;
		padding: 10px 15px;
		border: 1px @branco solid;
		background:@marrom_bg;
		transition: all .3s ease-in;
		@media (max-width: 600px){
			margin-bottom: 5px;
		}
		&:hover, &.ativo{
			background: @marrom;
			border-color: @marrom;
		}
	}
}

.lista-projetos{
	padding: 40px 0;
	font-size: 0;
	a{
		width: 25%;
		@media @mobile {
			width: 33%;
		}
		@media (max-width: 700px){
			width: 50%;
		}
		@media (max-width: 400px){
			width: 100%;
		}
		position: relative;
		.inline;
		&:after {
			content: "";
		 	display: block;
		 	padding-bottom: 100%;
		}
		.thumb-link{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.overlay{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			box-sizing: border-box;
			padding: 10px 25px 10px 25px;
			background: rgba(0,0,0,0.7);
			overflow: hidden;
			h2{
				.ubuntu(16px, 'medium');
				color:@branco;
				margin-bottom: 10px;
			}
			p{
				.ubuntu(12px);
				color:@branco;
				padding-bottom: 3px;
				opacity: 0;
				transition: opacity .3s ease-in-out .1s;
			}
			.toggle{
				max-height: 0;
				transition: all .3s ease-in-out;
			}
		}
		&:hover{
			.overlay{
				.toggle{
					max-height: 40px;
					padding-bottom: 10px;
					p{
						opacity: 1;
					}
				}
			}
		}
		@media @mobile{
			.overlay{
				.toggle{
					max-height: 40px;
					padding-bottom: 10px;
					p{
						opacity: 1;
					}
				}
			}
		}
	}
}

p.metragem{
	color:@branco;
	.futura(14px, 200);
	@media (max-width: 1200px){
		text-indent: 10px;
	}
}

.detalhes-projeto{
	margin-top: 60px;
	font-size: 0;
	aside{
		width: 12%;
		.inline;
		padding: 15px 0;
		@media @mobile{
			width: 100%;
			padding: 0 20px;
			box-sizing: border-box;
		}
		a{
			display: block;
			position: relative;
			margin-bottom: 3px;
			width: 100%;
			img{
				display: block;
				max-width: 100%;
			}
			&:after{
				content:"";
				display:block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: opacity .3s ease-in-out;
				opacity: 0;
				background: rgba(0,0,0,0.6);
			}
			&:hover, &.aberto{
				&:after{
					opacity: 1;
				}
			}
			&:focus{
				outline:none;
			}
		}
	}
	section{
		width: 88%;
		padding-left: 50px;
		box-sizing: border-box;
		.inline;
		@media @mobile{
			width: 100%;
			padding: 0 20px;
			box-sizing: border-box;
		}
		#ampliada{
			img{
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
		}
	}
}
