@import 'vars.less';

body{
	background: @marrom_bg;

	.conteudo{
		position: relative;
		width: @max-width;
		max-width: 100%;
		margin: 0 auto;
		min-height: 90vh;
		&.conteudo-home{
			width: 100%;
		}
	}

	h1.nao-encontrada{
		text-align: center;
		margin: 70px 0 0 0;
		.futura(30px, 200);
		color: @branco;
	}

	.internas{
		padding: 70px 0 60px 0;

		h1{
			.futura(18px, 200);
			color: @branco;
			display: block;
			border-bottom: 1px #fff solid;
			padding: 0 0 5px 0;
			margin: 0 0 5px 0;
			letter-spacing: 10px;
			&.center{text-align: center;}
			&.noborder{border:none; margin-bottom: 15px;}
			@media (max-width: 1200px){
				padding-left: 10px;
			}
			@media @mobile {
				line-height: 130%;
			}
		}
	}

	p.empty{
		text-align: center;
		.ubuntu(15px);
		color:@branco;
		padding: 30px;
		display: block;
		box-sizing: border-box;
		width: 100%;
	}


	footer{
		height: 10vh;
		overflow: hidden;
		background: @marrom;
		position: relative;
		p{
			text-align: center;
			color:@branco;
			.arial(12px);
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			a{
				color:@branco;
				text-decoration: none;
				border-bottom: 1px @marrom dashed;
				transition: all .3s ease-in;
				&:hover{
					border-bottom: 1px @branco dashed;
				}
			}
		}
	}

}
