@mobile	 : ~"(max-width: 900px)";
@desktop : ~"(min-width: 901px)";

@branco:#ffffff;
@cinza:#8E827D;
@preto:#251B18;
@bege:#928682;
@marrom:#251B18;
@marrom_bg:#4A362F;

@max-width:1200px;

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.montserrat(@fsize:12px, @fweight:normal){
	font-family: 'Montserrat', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.ubuntu(@fsize:12px, @fweight:normal){
	font-family: 'Ubuntu', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.futura(@fsize:12px, @fweight:normal){
	font-family: 'Nunito', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
	margin:0 auto;
	width: 100%;
	max-width: @max-width;
	position: relative;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}

a{
	text-decoration: none;
}
